.hair {
    position: absolute;
    height: 227px;
    width: 365px;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
}

.hair::before {
    content: '';
    display: flex;
    background: var(--cor-hair);
    height: 176px;
    width: 365px;
    border-radius: 50% 50% 0 0;
}

.hair>.chops {
    display: flex;
    justify-content: space-between;
    margin-top: -32px;
}

.hair>.chops>.chop {
    --radius-chop: 8px;
    background-color: var(--cor-hair);
    height: 85px;
    width: 21px;
}

.hair>.chops>.chop::after {
    content: '';
    display: flex;
    background-color: var(--cor-hair);
    height: 38px;
    width: 18px;
}

.hair>.chops>.chop:first-child::after {
    margin-left: 21px;
    border-bottom-right-radius: var(--radius-chop);
}

.hair>.chops>.chop:last-child::after {
    margin-left: -18px;
    border-bottom-left-radius: var(--radius-chop);
}

.hair>.chops>.chop:first-child {
    border-bottom-right-radius: var(--radius-chop);
}

.hair>.chops>.chop:last-child {
    border-bottom-left-radius: var(--radius-chop);
}

.hair .chop-center {
    background-color: var(--cor-skin);
    position: absolute;
    height: 32px;
    width: 287px;
    z-index: 1;
    border-radius: 10px 10px 0 0;
    margin-top: -32px;
    left: 50%;
    transform: translateX(-50%);
}