:root {
    --cor-skin: #ffdfd5;
    --cor-borda: #000;
    --cor-hair: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffac31;
}

#container {
    position: absolute;
    background-color: red;
    width: 425px;
    height: 470px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.head {
    position: absolute;
    background-color: var(--cor-skin);
    width: 365px;
    height: 442px;
    border: 7px solid var(--cor-borda);
    border-radius: 50% 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.hair {
    position: absolute;
    height: 227px;
    width: 365px;
    left: 50%;
    top: 3px;
    transform: translateX(-50%);
}

.hair::before {
    content: '';
    display: flex;
    background: var(--cor-hair);
    height: 144px;
    width: 365px;
    border-radius: 50% 50% 0 0;
}

.hair>.chops {
    display: flex;
    justify-content: space-between;
}

.hair>.chops>.chop {
    background-color: var(--cor-hair);
    height: 85px;
    width: 21px;
}

.hair>.chops>.chop:first-child::after {
    content: '';
    display: flex;
    background-color: var(--cor-hair);
    height: 38px;
    width: 18px;
    margin-left: 21px;
    border-bottom-right-radius: 5px;
}

.hair>.chops>.chop:first-child {
    border-bottom-right-radius: 5px;
}

.hair>.chops>.chop:last-child {
    border-bottom-left-radius: 5px;
}

.ears {
    position: absolute;
    width: 100%;
    height: 90px;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.ear {
    --deg-ear: 4deg;
    --margin-ear: 5px;
    background-color: var(--cor-skin);
    width: 38px;
    height: 90px;
    border: 5px solid var(--cor-borda);
    border-radius: 50%;
}

.ear:first-child {
    margin-left: var(--margin-ear);
    transform: rotate(var(--deg-ear));
}

.ear:last-child {
    margin-right: var(--margin-ear);
    transform: rotate(calc(var(--deg-ear) * -1));
}